.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: tomato;
  text-align: center;
}

.js-typed-text {
  font-size: 45px;
}
input {
  padding: 5px 5px;
  border-radius: 4px;
  background-color: gray;
  font-weight: 900;
  margin-left: 50px;
}
